<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <title>Error</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div>
            <h1>Hello dude! You catch Exception</h1>
        </div>
        <p th:text="${message}"></p>
        <br>
        <form th:action="@{calculator}" method="get">
            <input type="submit" value="Return to calculator"/>
        </form>
    </div>
</div>
</body>
</html>
